
img#mrcat {
    width:10%;
}

html, body {
	margin: 0;
	width: 100%;
}

.header {
	/*font-size: 30px;*/
	text-align: center;
}

iframe {
	height: 50vh;
	width: 99vw; /* hack */
	margin: 0 auto;
}

.item {
    float: left;
    position: relative;
    line-height: 1em;
}


/* Account for different sized screens and resizing */

.grid-sizer { width: 20%; }
.item { width: 20%; }


@media screen and (max-width: 1224px) {
  /* 10 columns for larger screens */
  .grid-sizer { width: 33.33%; }
  .item { width: 33.33%; }
}

@media screen and (max-width: 720px) {
  /* 10 columns for larger screens */
  .grid-sizer { width: 50%; }
  .item { width: 50%; }
}

@media screen and (max-width: 480px) {
  /* 10 columns for larger screens */
  .grid-sizer { width: 100%; }
  .item { width: 100%; }
}

.image{
    max-width: 100%;
    margin: 0;
    display: block;
}

.image:after {
    clear:both;
}